[temperature_sensor Toolhead]
sensor_type: temperature_mcu
sensor_mcu: tool0

[temperature_sensor CB1]
sensor_type: temperature_host
min_temp: 0
max_temp: 60

[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: PA2
#min_temp:
#max_temp:
#   See the "extruder" section for the definition of the above
#   parameters.
#gcode_id:
#   See the "heater_generic" section for the definition of this
#   parameter.

#  Part Cooling Fan
[fan]
pin: tool0: PA1

#  Hot End Fan
[heater_fan hotend_fan]
pin: tool0: PA0
max_power: 1.0
heater_temp: 45
shutdown_speed: 0

[heater_bed]
heater_pin: PB5
sensor_type: Generic 3950
max_power: 0.6

#  Fan - Nevermore
[heater_fan Nevermore]
pin: PE0
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 50
fan_speed: 1

#  Fan - Exhaust
[heater_fan exhaust_fan]
pin: PE4
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 80
fan_speed: 1.0

[fan_generic Auxillary]
pin: PC12
max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 80
#fan_speed: 1

[fan_generic CPU]
pin: PE5
max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 80
#fan_speed: 1

