[gcode_macro _HOME_Y]
gcode:
    {% if "x" in printer.toolhead.homed_axes %}
        G1 X115 F3000
        G28 Y
        G91
        G1 Y-30
        G90
     {% else %}
        RESPOND PREFIX="Error: " MSG="X axis must be homed before Y"
    {% endif %}

#[gcode_macro _HOME_X]
#gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
#    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    #{% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
#    {% set HOME_CURRENT = 0.7 %}
#    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    #SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home
#    G28 X
    # Move away
#    G91
#    G1 X-10 F1200
    
    # Wait just a second… (give StallGuard registers time to clear)
#    G4 P1000
    # Set current during print
#    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}